<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855398204787-urlo6peu7070auv8ca76eln73krolje0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855398204787-urlo6peu7070auv8ca76eln73krolje0</string>
	<key>API_KEY</key>
	<string>AIzaSyAVlUbl4M78zQv9Fp9HVT-xAhSfqz15xU0</string>
	<key>GCM_SENDER_ID</key>
	<string>855398204787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dohyeon.GumungGagye</string>
	<key>PROJECT_ID</key>
	<string>futurestarz-b892f</string>
	<key>STORAGE_BUCKET</key>
	<string>futurestarz-b892f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855398204787:ios:ac751106a35b3a42563106</string>
</dict>
</plist>